#[http]
#	proxy = http://127.0.0.1:20171
#[https]
#	proxy = http://127.0.0.1:20171
[user]
	email = zhezhe0214@gmail.com
	name = dingZvel
[core]
  editor = nvim
[credential]
  helper = store
[init]
  defaultBranch = main
[pull]
	rebase = false
